.cabeçalho {
    color: blueviolet;
    background-color: black;
    padding-left: 50%;
    margin-top: 0;
}

.rodape {
    right: 0;
    bottom: 0;
    position: fixed;
}

table {
    background-color: yellow;
}

.imgs {
    width: 10%;

}

.funcionarios {
    color: blue;
}

.botao {
    background-color: teal;
}

.slogan {
    color: red;
}

body {
    margin: 0;
}