body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

@media screen and (max-device-width: 420px) {
    div {
        border: 1px solid black;
        row-gap: 3vh;
        column-gap: 3vh;
    }
    #main-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(11, 1fr);
        height: 100vh;
        margin: 2vw;
        border: none;
    }
    #first-block {
        width: 100vw;
        border: none;
        height: 100px;
        background-color: red;
    }
    .blue-block {
        display: grid;
        justify-content: center;
        align-items: center;
        background-color: blue;
        grid-column: 1 / -1;
    }
    .yellow-block {
        display: grid;
        justify-content: center;
        align-items: center;
        background-color: yellow;
        grid-column: 1 / -1;
    }
    .green-block {
        display: grid;
        justify-content: center;
        align-items: center;
        background-color: green;
        grid-column: 1 / -1;
    }
    .black-block {
        display: grid;
        grid-template-rows: 2;
        text-align: center;
        align-items: stretch;
        color: white;
        border: none;
        grid-column: 1 / -1;
        grid-row: 7 / 9;
    }
    .white-block {
        display: grid;
        justify-content: center;
        align-items: center;
        background-color: white;
        grid-column: 1 / -1;
    }
    #black7 {
        display: grid;
        grid-row: 1 / 2;
        background-color: black;
        align-items: center;
    }
    #black8 {
        display: grid;
        grid-row: 2/3;
        background-color: black;
        align-items: center;
    }
}

@media screen and (min-device-width: 421px) and (max-device-width: 800px) {
    div {
        border: 1px solid black;
        row-gap: 3vh;
        column-gap: 3vh;
    }
    #main-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(9, 1fr);
        height: 100vh;
        margin: 1vw;
        border: none;
    }
    #first-block {
        width: 100vw;
        border: none;
        height: 100px;
        background-color: red;
    }
    .blue-block {
        display: grid;
        justify-content: center;
        align-items: center;
        background-color: blue;
    }
    .yellow-block {
        display: grid;
        justify-content: center;
        align-items: center;
        background-color: yellow;
    }
    .green-block {
        display: grid;
        justify-content: center;
        align-items: center;
        background-color: green;
        grid-column: 1 / -1;
    }
    .black-block {
        display: grid;
        grid-row: 5 / 8;
        grid-column: 1 / -1;
        text-align: center;
        background-color: white;
        border: none;
        align-items: stretch;
        color: white;
        grid-template-columns: repeat(2, 1fr);
    }
    .white-block {
        display: grid;
        justify-content: center;
        align-items: center;
        background-color: white;
    }
    #black7 {
        display: grid;
        background-color: black;
        align-items: center;
    }
    #black8 {
        display: grid;
        background-color: black;
        align-items: center;
    }
    #white11 {
        grid-column: 1 / -1;
    }
}

@media screen and (min-device-width: 801px) {
    div {
        border: 1px solid black;
        row-gap: 3vh;
        column-gap: 3vh;
    }
    #main-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(7, 1fr);
        height: 100vh;
        margin: 1vw;
        border: none;
    }
    #first-block {
        width: 100vw;
        border: none;
        height: 100px;
        background-color: red;
    }
    .blue-block {
        display: grid;
        justify-content: center;
        align-items: center;
        background-color: blue;
    }
    .yellow-block {
        display: grid;
        justify-content: center;
        align-items: center;
        background-color: yellow;
    }
    .green-block {
        display: grid;
        justify-content: center;
        align-items: center;
        background-color: green;
    }
    .black-block {
        display: grid;
        grid-row: 3 / 6;
        grid-column: 1 / -1;
        text-align: center;
        background-color: white;
        border: none;
        align-items: stretch;
        color: white;
        grid-template-columns: repeat(2, 1fr);
    }
    .white-block {
        display: grid;
        justify-content: center;
        align-items: center;
        background-color: white;
    }
    #black7 {
        display: grid;
        background-color: black;
        align-items: center;
    }
    #black8 {
        display: grid;
        background-color: black;
        align-items: center;
    }
}